body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

a:hover {
	text-decoration: none;
}

h3 {
	font-size: 23px
}


.infos 	{
	background-color: #0275D8;
	color: #FFF;
	display: block;
	font-weight: bold;
	padding: 15px 20px;
	text-align: center;
}

.infos:hover {
	background-color: #0269c2;
	color: #FFF;
	text-decoration: none;
}

.infos:active {
	background-color: #004c8e;
	color: #FFF;
	text-decoration: none;
}

.liens {
	margin-top: 2em;
}


/* css pour centrer la nav */

.centered-pills {
	text-align: center
}

.centered-pills ul.nav-pills {
	display: inline-block
}

.centered-pills li {
	display: inline
}

.centered-pills a {
	float: left
}

* html .centered-pills ul.nav-pills,
*+html .centered-pills ul.nav-pills {
	display: inline
}


/* / css pour centrer la nav */

.header {
	margin-top: 2em;
}

.separation {
	margin-left: 20em;
	margin-right: 20em;
}

.imgfond {
	background-attachment: fixed;
	background-color: #e5e5e5;
	/*background-image: url('http://i.imgur.com/zNmlMin.jpg');*/
	background-image: url('../img/imgfond.jpg');
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 1em;
	padding-bottom: 1em;
	padding-top: 15em;
	text-align: center;
}

.titre {
	color: white;
	font-size: 5em;
}

.titre2 {
	color: white;
}

.row {
	margin-bottom: 1em;
	margin-top: 1em;
}

.downloads {
	text-align: center;
}

.sa img {
	height: 128px;
	position: relative;
}

.consignes {
	text-align: center;
}

.specifications {
	text-align: center;
}

.bas {
	margin-bottom: 40px;
}


.bas p {
	margin-bottom: 0
}

span.octocat {
	background: transparent url(../img/octocat.png) 0 0 no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
